{% extends "common/table_index.html" %}
{% load tags %}

{% block container %}
    {% display_all_relationship objs %}
        <form method="post">{% csrf_token %}
        <input type="submit" class="btn btn-danger" value="确定">
        <input type="hidden" value="yes" name="delete_confirm">
        <input type="hidden" value="{{ selected_ids }}" name="selected_ids">
        <input type="hidden" value="{{ action }}" name="action">
        <a class="btn btn-info" href="{% url 'table_objs' app_name table_name  %}">返回</a>
        </form>
{% endblock %}